body {
    margin: 40px;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
  
      .wrapper {
          background-color: #fff;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "content"
       "sidebar"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content";
      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 120px auto 120px;
              grid-template-areas:
        "header  header  header"
              "sidebar content content";
              max-width: 600px;
          }
      }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
  
  .header{
    background-color: #999;
  }
  